@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

body{
  margin: 0 20px;
  padding: 0;
  color: white;
  font-family: 'Macondo';
}

.wrapper{
  height: 100vh;
  width: 100vw;
  background: linear-gradient(-45deg, #29b9cc, #c134f0d8, #a8c888);
  background-size: 400%, 400%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: backTransition 8s ease-in-out infinite;
}

h1{
  letter-spacing: 4px;
}

h2{
  letter-spacing: 4px;
}

.social-media{
  margin-top: 1rem;
  display: flex;

}

a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 1rem 4rem;
  border: 1px solid white;
  min-width: 4rem;
  display: flex;
  justify-content: center;
  align-items: right;
  transition: .5s cubic-bezier(0.55,0.25,0.675,0.97);
}

a:hover{
  color: #29b9cc;
  background-color: white;
}

@keyframes backTransition{
  0%{
    background-position: 0% 80%;
  }

  50%{
    background-position: 80% 100%;
  }

  100%{
    background-position: 0% 90%;
  }
}